<form [formGroup]="imgUploaderForm" (submit)="upload()">
  <div>
    <button type="button" (click)="fileInput.click()">Select Images</button>
    <input
      #fileInput
      type="file"
      hidden
      multiple
      formControlName="file"
      accept="image/*"
      (change)="selectImages($event.target)"
    />
    <app-message
      message="Accepted files: .png .jpeg .jpg .gif"
      *ngIf="!!imgUploaderForm.get('file')?.errors?.required"
    ></app-message>
  </div>
    <div *ngFor="let u of uploads">
      <img [src]="u.url" />
      <div>{{ u.name }}</div>
      <div>{{ u.size }}</div>
      <div>{{ u.url }}</div>
    </div>
  <div *ngIf="!uploadProgress; else showProgress">
    <button [disabled]="imgUploaderForm.invalid" type="submit">Upload</button>
  </div>
  <ng-template #showProgress>
    Upload Progress: {{ uploadProgress }} %
  </ng-template>
</form>
