.browse {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.browse__btn {
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  color: #999;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
}

span {
  margin-left: 5px;
  cursor: pointer;
}
