.message {
  color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-top: 5px;
}

.message--success {
  color: #78e5d5;
}

.message--error {
  color: #e57878;
}
