.dropzone {
  border: 1px dashed #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: height 0.2s ease;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
}

.dropzone--accept {
  border-color: #78e5d5;
}

.dropzone--reject {
  border-color: #e57878;
}

.file-info__wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.file-info__content {
  display: flex;
  flex-direction: column;
}

.file-size {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-grow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 0;
}

ngx-dropzone-image-preview {
  margin: 0 !important;
  min-height: 60px !important;
  height: 60px !important;
}

ngx-dropzone-remove-badge {
  top: 18px !important;
  right: 10px !important;
  position: absolute !important;
}

.status {
  display: flex;
  align-items: baseline;
}

.btn-delete {
  border: 0;
  background: transparent;
  color: #e57878;
  margin-left: 5px;
  cursor: pointer;
}
