.dropzone {
  border: 1px dashed #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: height 0.2s ease;
  padding: 20px;
}

.dropzone--active {
  border-color: #78e5d5;
}

.dropzone--reject {
  border-color: #e57878;
}
