h1 {
  padding-bottom: 1.25rem;
  color: var(--dark-grey);
}

.box__wrapper {
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__content {
  width: 100%;
  max-width: 25rem;
  margin: 1.875rem;
  background: var(--white);
  border-radius: 4px;
  padding: 1.25rem;
}
