<app-box title="Host My Image">
  <ngx-dropzone
    accept="image/jpeg,image/jpg,image/png,image/gif"
    (change)="onSelect($event)"
    class="dropzone"
    [maxFileSize]="2000000"
  >
    <ngx-dropzone-label>
      <p>Click or drag and drop images here</p>
      <app-message
        *ngIf="isUploadFailed"
        msg_1="Supported file types: PNG, JPG, GIF"
        msg_2="Maximum file size: 2 MB"
      ></app-message>
      <app-message
        *ngIf="isFileLimit"
        msg_1="Please, upload no more then 5 images at time!"
      ></app-message>
      <app-message
        *ngIf="isServerError"
        msg_1="Ops, something is wrong with our servers..."
        msg_2="Please try again later!"
      ></app-message>
    </ngx-dropzone-label>
  </ngx-dropzone>
  <section *ngIf="!isFileLimit">
    <app-wrapper *ngFor="let f of files">
      <app-wrapper>
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          [file]="f"
        >
        </ngx-dropzone-image-preview>
        <ngx-dropzone-label>
          <app-files
            fileName="{{ f.name | slice: 0:20 }}"
            fileSize="{{ f.size | filesize }}"
          >
            <button class="btn-delete" (click)="onRemove(f)">Remove</button>
          </app-files>
        </ngx-dropzone-label>
      </app-wrapper>
      <app-wrapper>
        <app-link
          *ngIf="!isUploadFailed && !isServerError"
          url="{{ imageUrl }}/{{ f.name }}"
          icon="link"
        ></app-link>
        <app-status
          *ngIf="!isUploadFailed && !isServerError"
          statusClass="success"
          statusIcon="check_circle"
        >
        </app-status>
        <app-status
          *ngIf="isUploadFailed"
          statusClass="error"
          statusIcon="error"
        >
        </app-status>
        <app-loading *ngIf="isServerError" [progress]="uploadProgress">
        </app-loading>
      </app-wrapper>
    </app-wrapper>
  </section>
</app-box>
