<app-box title="Image Uploader">
  <ngx-dropzone
    accept="image/jpeg,image/jpg,image/png,image/gif"
    (change)="onSelect($event)"
    class="dropzone"
    [maxFileSize]="2000000"
  >
    <ngx-dropzone-label>
      <p>Click or drag and drop images here</p>
      <app-message
        *ngIf="isUploadFailed"
        msg_1="Supported file types: PNG, JPG, GIF"
        msg_2="Maximum file size: 2 MB"
      ></app-message>
      <app-message
        *ngIf="isFileLimit"
        msg_1="Please, upload no more then 5 images at time!"
      ></app-message>
      <app-message
        *ngIf="isServerError"
        msg_1="Ops, something is wrong with our servers..."
        msg_2="Please try again later!"
      ></app-message>
    </ngx-dropzone-label>
  </ngx-dropzone>

  <section *ngIf="!isFileLimit">
    <div class="container" *ngFor="let f of files">
      <div class="container">
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          [file]="f"
        >
        </ngx-dropzone-image-preview>

        <ngx-dropzone-label>
          <div class="file-info__wrapper">
            <div class="file-info__content">
              <strong>{{ f.name | slice: 0:20 }}</strong>
              <span class="file-size">
                {{ f.size | filesize }}
                <button class="btn-delete" (click)="onRemove(f)">Remove</button>
              </span>
            </div>
          </div>
        </ngx-dropzone-label>
      </div>

      <div class="status">
        <div class="file-status">
          <a
            href="{{ imageUrl }}/{{ f.name }}"
            target="_blank"
            *ngIf="!isUploadFailed && !isServerError"
          >
            <mat-icon>link</mat-icon>
          </a>

          <div class="file-status__icons" *ngIf="!isUploadFailed && !isServerError">
            <mat-icon class="icon-success">check_circle</mat-icon>
          </div>

          <div class="file-status__icons" *ngIf="isUploadFailed">
            <mat-icon class="icon-error">error</mat-icon>
          </div>

          <div class="file-status__icons" *ngIf="isServerError">
            <mat-spinner
              diameter="24"
              [value]="uploadProgress"
              strokeWidth="3"
              mode="indeterminate"
            ></mat-spinner>
          </div>

        </div>
      </div>
    </div>
  </section>
</app-box>
