/* dropzone box */

.dropzone {
  border: 1px dashed var(--light-grey);
  border-radius: 8px;
  cursor: pointer;
  transition: height 0.2s ease;
  padding: 1.25rem;
  color: var(--dark-grey);
}

.dropzone:hover {
  border-color: var(--alert-green);
  color: var(--alert-green);
}

.ngx-dz-hovered {
  border: 1px dashed var(--alert-green) !important;
  color: var(--alert-green) !important;
  font-family: var(--primary-font) !important;
}

.btn-delete {
  border: 0;
  background: transparent;
  color: var(--alert-red);
  margin-left: 0.313rem;
  cursor: pointer;
}

