<app-box>
  <ngx-dropzone (change)="onSelect($event)" class="dropzone">
    <ngx-dropzone-label>
      <p>Drop your images here or...</p>
      <app-browse-input></app-browse-input>
    </ngx-dropzone-label>
  </ngx-dropzone>
  <div class="container" *ngFor="let f of files">
    <div class="container">
      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f">
      </ngx-dropzone-image-preview>
      <ngx-dropzone-label>
        <div class="file-info__wrapper">
          <div class="file-info__content">
            <strong>{{ f.name | slice: 0:20 }}</strong>
            <span class="file-size">
              {{ f.size | filesize }}
              <!-- {{ f.type }} -->
              <button class="btn-delete" (click)="onRemove(f)">Remove</button>
            </span>
          </div>
        </div>
      </ngx-dropzone-label>
    </div>
    <div class="status" >
      <app-file-status
        [progress] =  "uploadProgress"
      ></app-file-status>
    </div>
  </div>
</app-box>
