<!-- <div *ngFor="let file of files" class="file-list">
  <upload-task [file]="file"></upload-task>
</div> -->

<div class="file-list">
  <div class="file-item">
    <app-file-info></app-file-info>
    <app-file-status></app-file-status>
  </div>
  <div class="file-item">
    <app-file-info></app-file-info>
    <app-file-status></app-file-status>
  </div>
  <div class="file-item">
    <app-file-info></app-file-info>
    <app-file-status></app-file-status>
  </div>
  <div class="file-item">
    <app-file-info></app-file-info>
    <app-file-status></app-file-status>
  </div>
</div>
