* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #7159c1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html,
body,
#root {
  height: 100%;
}

ngx-dropzone-image-preview {
  margin: 0 !important;
  min-height: 60px !important;
  height: 60px !important;
}

img {
  width: 40px;
  height: 40px;
  margin: 0;
}

/* ngx-dropzone-remove-badge {
  top: 18px !important;
  right: 10px !important;
  position: absolute !important;
} */
